@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<MaterialIssuePendingPlannedOrder>()
    .Name("materialIssuePendingPlannedOrderGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.PlannedOrderCode).Title("Số ĐH").Width(50);
        columns.Bound(c => c.PlannedOrderReference).Title("Số ĐH").Width(50);
        columns.Bound(c => c.CustomerCode).Title("khách hàng").Width(140);
        columns.Bound(c => c.CustomerName).Title("khách hàng").Width(140);
        columns.Bound(c => c.WorkshiftCode).Title("khách hàng").Width(140);
        columns.Bound(c => c.ProductionLineCode).Title("khách hàng").Width(140);
        columns.Bound(c => c.MoldCode).Title("khách hàng").Width(140);
        
        
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập số đơn hàng/ hoặc mã, tên, MST khách hàng hay đơn vị, người nhận hàng, hoặc mã kho</label>
                <input id="materialIssuePendingPlannedOrderFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="materialIssuePendingPlannedOrderFilter_KeyUp()" />
            </div>
        </text>);
    })
        .Scrollable(s => s.Height(Settings.PopupContentHeight))
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetPlannedOrders", "MaterialIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetPlannedOrders"))
            .ServerOperation(false)
        )
        .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetPlannedOrders(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function materialIssuePendingPlannedOrderFilter_KeyUp() {
        var materialIssuePendingPlannedOrderFilter = $("#materialIssuePendingPlannedOrderFilter").val(), gridDetails = $("#materialIssuePendingPlannedOrderGrid").data("kendoGrid");

        if (materialIssuePendingPlannedOrderFilter && materialIssuePendingPlannedOrderFilter.length >= "@Settings.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "PlannedOrderCode", operator: "contains", value: materialIssuePendingPlannedOrderFilter },

                    { field: "WorkshiftCode", operator: "contains", value: materialIssuePendingPlannedOrderFilter },
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    $("#materialIssuePendingPlannedOrderGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>

